RewriteEngine on

# Do not process images or CSS files further
RewriteRule \.(css|jpe?g|gif|png|js)$ - [L]

# Rewrite all pages back to index
RewriteRule ^([^/\.]+)/?$ index.php?action=$1 [QSA,L]
RewriteRule ^([^/\.]+)/([^/]+)/?$ index.php?action=$1&switch=$2 [QSA,L]

# RewriteRule ^([^/\.]+)/([^/]+)/([^/]+)/(.*) index.php?module=$1&action=$2&switch=$3&$4 [QSA,L]
# RewriteRule ^([^/\.]+)/([^/]+)/([^/]+)/? index.php?module=$1&action=$2&switch=$3 [QSA,L]
